// This file defines all the basic elements of an ordinary reveal theme,
// but consistently with the corporate theme.
@import 'adobe-palette';

// Default mixins and settings -----------------
@import 'css/theme/template/mixins';
@import 'css/theme/template/settings';
// ---------------------------------------------


// Include theme-specific fonts
@import url(https://use.typekit.net/gxh7blj.css);

section.has-dark-background,
section.has-dark-background h1,
section.has-dark-background h2,
section.has-dark-background h3,
section.has-dark-background h4,
section.has-dark-background h5,
section.has-dark-background h6 {
  color: #fff;
}

// Override theme settings (see reveal.js/css/theme/template/settings.scss)

// Background of the presentation
$backgroundColor: $adobeWhite;

// Primary/body text
$mainFontSize: 44px;
$mainFont: 'adobe-clean-semilight', sans-serif;
$mainColor: black;

// Vertical spacing between blocks of text
$blockMargin: 36px;

// Headings
$headingMargin: 0 0 $blockMargin 0;
$headingFont: 'adobe-clean', sans-serif;
$headingColor: $adobeRed;
// 0.9 keynote lines of adobe clean. 1.252 is calculated per math in
// adobe-reveal-theme.scss.
$headingLineHeight: 0.9 * 1.252;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingTextShadow: none;
$headingFontWeight: 800;

$heading1Size: 72px;
$heading2Size: 56px;
$heading3Size: 40px;
$heading4Size: 34px;

$codeFont: source-code-pro, monospace;

// Links and actions
$linkColor: #5F5F5F;
$linkColorHover: lighten( $linkColor, 20% );

// Text selection
$selectionBackgroundColor: #B3D7FF; // standard Keynote selection background.
$selectionColor: black;

// Change text colors against dark slide backgrounds
@include dark-bg-text-color($adobeWhite);

// Theme template ------------------------------
@import 'css/theme/template/theme';
// ---------------------------------------------

// Standard reveal themes hardcode the main font's weight to normal, so add a
// variable and use it wherever the main font is set by the reveal theme.  The
// definition of a plain CSS root variable is unnecessary, but that's how reveal
// does things.
$mainFontWeight: 300;
:root {
  --r-main-font-weight: $mainFontWeight;
}
.reveal {
  font-weight: var(--r-main-font-weight);
}

%adobe-clean-semilight {
  font-family: $mainFont;
  font-weight: $mainFontWeight;
}

%adobe-clean-regular {
  font-family: adobe-clean, sans-serif;
  font-weight: 400;
}

%adobe-clean-bold {
  font-family: adobe-clean, sans-serif;
  font-weight: 700;
}

%adobe-clean-extrabold {
  font-family: $headingFont;
  font-weight: $headingFontWeight;
}

// ------------------------------------------------------------
// Override things that come from the standard theme framework.
// ------------------------------------------------------------
.reveal {
  p {
    line-height: inherit;
    margin: 0;
  }

  .slides {
    text-align: left;

    a { text-decoration: underline; }

    strong,
    b {
      @extend %adobe-clean-extrabold;
    }

    blockquote {
      margin: $blockMargin auto;
      width: 100%;
    }

    pre {
      margin: auto;
      width: auto;
      height: auto;

      code {
        max-height: 100%;
        overflow: scroll;
      }
    }

    table th {
      @extend %adobe-clean-extrabold;
    }

    blockquote p:first-child,
    blockquote p:last-child {
      display: inline-block;
    }

    q {
      font-style: italic;
    }

    dl, ul {
      margin: 0px;
    }

    div { margin: 0px; padding: 0px; }
  }

  figure img {
    width: 100%;
  }

  // Undo things that shouldn't apply to speaker notes.
  // See https://github.com/hakimel/reveal.js/issues/3085
  .speaker-notes {
    * { all: revert; }
  }
}
// Local Variables:
// css-indent-offset: 2
// smie-indent-basic: 2
// End:
