// Primary colors:
$adobeRed: #EB1000;
$adobeDarkGray: #2C2C2C;
$adobeLightGray: #F5F5F5;
$adobeWhite: #FFFFFF;
// Secondary colors:
$adobeMagenta: #E63888;
$adobePurple: #6349e0;
$adobeBlue: #3273de;
$adobeLightBlue: #2799f6;
$adobeTeal: #21a5a2;
$adobeGreen: #009c3b;
$adobeYellow: #FFCE2E;
$adobeOrange: #e9740a;

:root {
  // Primary colors:
  --r-adobe-red: $adobeRed;
  --r-adobe-dark-gray: $adobeDarkGray;
  --r-adobe-light-gray: $adobeLightGray;
  --r-adobe-white: $adobeWhite;

  // Secondary colors:
  --r-adobe-magenta: $adobeMagenta;
  --r-adobe-purple: $adobePurple;
  --r-adobe-blue: $adobeBlue;
  --r-adobe-light-blue: $adobeLightBlue;
  --r-adobe-teal: $adobeTeal;
  --r-adobe-green: $adobeGreen;
  --r-adobe-yellow: $adobeYellow;
  --r-adobe-orange: $adobeOrange;
}
