// Primary colors:
$corporateRed: #EB1000;
$corporateDarkGray: #2C2C2C;
$corporateLightGray: #F5F5F5;
$corporateWhite: #FFFFFF;
// Secondary colors:
$corporateMagenta: #E63888;
$corporatePurple: #6349e0;
$corporateBlue: #3273de;
$corporateLightBlue: #2799f6;
$corporateTeal: #21a5a2;
$corporateGreen: #009c3b;
$corporateYellow: #FFCE2E;
$corporateOrange: #e9740a;
