---
---
$assets: {{"assets" | relative_url}};
//$assets: '/Users/dave/src/adobe-internal-presentations/assets';
@import 'corp-palette';

// A basic standard reveal theme is crucial for proper interop with the
// reveal.js ecosystem.  For example, the menu plugin plucks style information
// from the theme and reuses it
@import 'corp-reveal-theme-base';
@import 'keynote';

// Have the slide cast a shadow, and gray the surroundings.
.reveal .slides {
  background-color: $backgroundColor;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.reveal-viewport {
  background-color: #E5E5E5; // Color of area around slide.
}

// When a thing has explicit width or height, override the theme's limits.
// see https://github.com/hakimel/reveal.js/pull/3084.
.reveal *[width] {
  max-width: initial;
}
.reveal *[height] {
  max-height: initial;
}

// Never stretch images by default.
img { object-fit: cover; }

%text-box {
  @extend %keynote-object;
  @include keynote-text-inset(4);
}

.reveal .slides {
  h1, h2, h3 {
    @extend %text-box;
  }
  h2 {
    @include keynote-box(49, 52, 1810, 102);
    @include keynote-text-inset(4);
    @include adobe-clean('extrabold', 56, $lineSpacing: 0.8);
  }
  .body {
    @include keynote-box(49, 225, 1822, 793);
    @include keynote-text-inset(4);
    @include keynote-before-paragraph-spacing(36);

    %block-level-text {
      padding: 0px;
      @include adobe-clean('semilight', 44, $lineSpacing: 1);
    }

    :is(ul, ol, dl) {
      @include adobe-clean('semilight', 44, $lineSpacing: 1);
      :is(ul, ol, dl) {
        @include adobe-clean('semilight', 40, $lineSpacing: 1);
        :is(ul, ol, dl) {
          @include adobe-clean('semilight', 36, $lineSpacing: 1);
        }
      }
    }

    :is(li, dd, dt) :is(li, dd, dt) {
      :is(li, dd, dt) {
        @include adobe-clean('semilight', 36, $lineSpacing: 1);
      }
    }

    // Scaled-down list bullets. See https://stackoverflow.com/a/41491657/125349
    ul {
      padding-inline-start: 0;
      $bulletOffset: 37px;
      > li {
        &::before {
          content: "•";
          position: absolute;
          left: -$bulletOffset;
          top: 0.25em;
          font-size: 0.7em;
        }
        margin-left: $bulletOffset;
        list-style-type: none;
        position: relative;
      }
    }
  }
}

// Local Variables:
// css-indent-offset: 2
// smie-indent-basic: 2
// End:
