// Primary colors:
$corp-red: #EB1000;
$corp-dark-gray: #2C2C2C;
$corp-light-gray: #F5F5F5;
$corp-white: #FFFFFF;
// Secondary colors:
$corp-magenta: #E63888;
$corp-purple: #6349e0;
$corp-blue: #3273de;
$corp-light-blue: #2799f6;
$corp-teal: #21a5a2;
$corp-green: #009c3b;
$corp-yellow: #FFCE2E;
$corp-orange: #e9740a;
