// Primary colors:
$corpRed: #EB1000;
$corpDarkGray: #2C2C2C;
$corpLightGray: #F5F5F5;
$corpWhite: #FFFFFF;
// Secondary colors:
$corpMagenta: #E63888;
$corpPurple: #6349e0;
$corpBlue: #3273de;
$corpLightBlue: #2799f6;
$corpTeal: #21a5a2;
$corpGreen: #009c3b;
$corpYellow: #FFCE2E;
$corpOrange: #e9740a;
