// Primary colors:
$corporate-red: #EB1000;
$dark-gray: #2C2C2C;
$light-gray: #F5F5F5;
$white: #FFFFFF;
// Secondary colors:
$magenta: #E63888;
$purple: #6349e0;
$blue: #3273de;
$light-blue: #2799f6;
$teal: #21a5a2;
$green: #009c3b;
$yellow: #FFCE2E;
$orange: #e9740a;
